{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Transactions from {{ transaction.username }} ({{ transaction.total }})</h1>
    {% for transaction in transaction.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_transactions', username=user.username) }}">{{ user.username }}</a>
                <small class="text-muted">{{ transaction.transaction_date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title", href="{{ url_for('transaction', id=transaction.id) }}">${{ transaction.amount }}</h2>
                <p class="article-content">
                    Date: {{ transaction.transaction_date.strftime('%Y-%m-%d') }} - Category: {{ transaction.category }}<br>
                    Description: {{ transaction.description }}<br>
                    Card Name: {{ transaction.card_name }}
          </div>
        </article>
    {% endfor %}
    {% for page_num in transaction.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if transaction.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('user_transactions', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('user_transactions', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
        {% endif %}
    {% endfor %}

{% endblock content %}